body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: 100dvh;
    --bgc-nav-HALA:    hsl(34, 90%, 60%);
    --bgc-inactive-tab-HALA: hsl(34, 60%, 45%);
    --bgc-active-show-HALA: hsl(34, 72%, 50%);
    /* whatI feel the color should be with what colors given with one change*/
    --bgc-inactive-tab: hsl(34deg 85% 40%);
    --bgc-nav: hsl(34deg 72% 50%);
    --bgc-active-show: hsl(34 90% 60%);
}
nav {
    /* background-color: var(--bgc-active-show-HALA); */
    /* background-color: var(--bgc-nav-HALA); */
    background-color: var(--bgc-nav);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    column-gap: 10px;
}

nav ul li {
  /* background-color:   var(--bgc-inactive-tab-HALA); */
  background-color:   var(--bgc-inactive-tab);
  cursor: pointer;
  padding: 1rem 2rem;
}

nav ul li:first-child {
    margin-left: 10px;
}

.content > div {
    min-height: 300px;
    padding: 1rem 2rem;
}


.content > div:not(.show) {
    display: none;
}

.active, .show {
    /* background-color: var(--bgc-nav-HALA); */
    /* background-color: var(--bgc-active-show-HALA); */
    background-color: var(--bgc-active-show);
    
}

h1 {
    margin: 0;
}
