body {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100vw;
    max-width: 100dvw;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: grey;
}

.gallery {
    max-width: 1280px;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    gap: 10px;
}

.gallery img {
    cursor: pointer;
}

.overlay {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: hsl(0, 0%, 10%, 0.9);
    cursor: pointer;
}